* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  margin: auto;
  max-width: 1300px;
}

.button {
  cursor: pointer;
  padding: 13px 24px;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background: #0047fd;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 27px;
  margin-bottom: 41px;
}

.header > h1 {
  font-family: "Montserrat", sans-serif;
  margin-left: 21px;
  color: #c5cddf;
  margin-right: auto;
}

.header > button {
  width: 164px;
  height: 52px;
}
